.containerUserHomeFooter {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  color: #FFF;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
}

.containerUserHomeFooter>.userHomeFooter {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: auto;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(40px) brightness(0.6) contrast(1);
  -webkit-backdrop-filter: blur(20px) brightness(0.6) contrast(1);
}

.userHomeFooter>.containerFooterLinks {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  justify-content: center;
  text-align: left;
  margin-left: 10rem;
}

.containerFooterLinks>.footerLink {
  text-decoration: none;
  padding: 0.5rem;
}

.userHomeFooter>.footerSocialMedia {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 400px;
  justify-content: center;
  text-align: right;
}

.footerSocialMedia>a {
  padding: 1rem;
}

.containerUserHomeFooter>.containerPayment {
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 1rem;
}

a>svg {
  height: 50px;
  width: 50px;
  transition: all ease 0.4s;
  cursor: pointer;
}

a>svg:hover {
  scale: 1.1;
}

.containerUserHomeFooter>.containerRigths {
  height: 50px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.containerPayment>svg {
  height: 50px;
  width: 50px;
  transition: all ease 0.4s;
  cursor: pointer;
}

.containerPayment>svg:hover {
  scale: 1.1;
}

@media (max-width: 1024px) {
  .containerUserHomeFooter>.userHomeFooter {
    width: 700px;
  }

  a>svg {
    height: 35px;
    width: 35px;
    transition: all ease 0.4s;
    cursor: pointer;
  }

  .containerFooterLinks>.footerLink {
    font-size: 0.8rem;
  }

  .containerPayment>svg {
    height: 35px;
    width: 35px;
    transition: all ease 0.4s;
    cursor: pointer;
  }

  .containerUserHomeFooter>.containerRigths {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .containerUserHomeFooter>.userHomeFooter {
    width: 600px;
  }
}

@media (max-width: 480px) {
  .containerUserHomeFooter>.userHomeFooter {
    width: 300px;
  }
}